.nav-list-item {
	background-color: #FFF;
	padding: 15px 30px;
	border-radius: 5px;
}

.card-1, .card-4 {
	background-color: #FFF;
}

.button {
	background-color: var(--c-red);
	padding: 15px 30px;
	border-radius: 4px;
}

.subtitle {
	color: var(--c-text);
}

.bar {
	width: 60px;
	height: 4px;
	background-color: var(--c-red);
}

.footer {
	background-color: #FFF;
}